<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>vrcity.network</title>
    <!-- Hide Firebase Code -->
    <style>
        fireboxroom {
            display: none;
        }
        .redirect-msg {
            text-align: center;
        }
    </style>
</head>
<body>
    
    <p class="redirect-msg">vrcity.network</p>
    <h2 class="redirect-msg">VR</h2>

    {{{body}}}

<script>
    //google analytics here
</script>
</body>
</html>
